@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  --twitter-blue: #1d9bf0;
  --twitter-blue-dark: #177fc4;
  --twitter-heart: #f91880;
  --twitter-heart-transparent: rgba(249, 24, 128, 0.2);
  --twitter-retweet: #00ba7c;
  --twitter-retweet-transparent: rgba(0, 186, 124, 0.2);
  --twitter-blue-transparent: rgba(29, 155, 240, 0.2);
  --grey: #536471;
  --grey-transparent: rgba(185, 202, 211, 0.4);
}

a, 
a:hover {
  text-decoration: none;
  color: currentColor;
}

.container {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

/* Utils */

.btn:focus {
  box-shadow: none;
}

.circle {
  border-radius: 50%;
}

.grey-text {
  color: var(--grey);
}

.grey-fill {
  fill: var(--grey);
}

.verified {
  fill: var(--twitter-blue);
}

.dropdown-button {
  color: var(--grey);
  border-radius: 50%;
  padding: 0.5rem;
  z-index: 10;
}

.dropdown-button:hover {
  background-color: var(--twitter-blue-transparent);
}

.dropdown-item {
  padding: 0.8rem;
}

.dropdown-item svg {
  margin-right: 0.3rem;
}

.at {
  color: var(--twitter-blue);
}
/* Left side Navbar */

.navbar {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100vh;
}

.navlinks {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-width: 250px;
  gap: 0.6rem;
}

.twitter-icon {
  fill: var(--twitter-blue);
  padding: 0.7rem 0.7rem;
  transition: 0.1s ease-in-out;
  border-radius: 50%;
}

.twitter-icon:hover {
  background-color: var(--twitter-blue-transparent);
}

.navlink {
  width: 100%;
}

.navlink-content {
  display: flex;
  width: fit-content;
  gap: 1rem;
  font-size: 1.1rem;
  padding: 0.7rem 0.7rem;
  transition: 0.1s ease-in-out;
  border-radius: 30px;
}

.navlink:hover .navlink-content {
  background-color: var(--grey-transparent);
  background-size: contain;
}

.tweet-button {
  width: 90%;
  background-color: var(--twitter-blue);
  color: white;
  text-align: center;
  padding: 1rem;
  border-radius: 30px;
  transition: 0.1s ease-in-out;
}

.tweet-button:hover {
  background-color: var(--twitter-blue-dark);
  color: white;
}

.tweet-button-icon {
  display: none;
  fill: white;
}

.profile {
  padding: 0.6rem;
  display: flex;
  border-radius: 30px;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  transition: 0.1s ease-in-out;
  cursor: pointer;
}

.profile:hover {
  background-color: var(--grey-transparent);
}

.profile-content {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.profile-text {
  font-size: 0.9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Twitter Feed */

.feed {
  width: 100%;
  max-width: 600px;
  border-left: 1px solid var(--grey-transparent);
  border-right: 1px solid var(--grey-transparent);
}

.top-tweets-icon {
  border-radius: 50%;
  padding: 0.3rem;
}

.top-tweets-icon:hover {
  background-color: var(--grey-transparent);
}

.feed header {
  position: sticky;
  top: 0;
  background: white;
  font-size: 1.2rem;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.new-tweet {
  width: 100%;
  border-bottom: 1px solid var(--grey-transparent);
  padding: 0 1rem;
  display: flex;
  gap: 0.4rem;
  min-height: 120px;
}

.new-tweet p {
  color: var(--grey);
  margin: 0;
  padding: 0.7rem 0 0.3rem 0.5rem;
  font-size: 1.1rem;
}

.new-tweet-toolbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.new-tweet-content {
  width: 100%;
  gap: 0.9rem;
  display: flex;
  flex-direction: column;
}

.new-tweet-icons {
  display: flex;
  gap: 0.2rem;
}

.new-tweet-icons a {
  padding: 0.5rem;
  fill: var(--twitter-blue);
  border-radius: 50%;
}

.new-tweet-icons a:hover {
  background-color: var(--twitter-blue-transparent);
}

.new-tweet-button {
  background-color: var(--twitter-blue);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.3rem 1rem;
  border-radius: 30px;
  transition: 0.1s ease-in-out;
  opacity: 0.5;
  z-index: -1;
  width: fit-content;
}

.tweet {
  width: 100%;
  border-bottom: 1px solid var(--grey-transparent);
  padding: 1rem;
  display: flex;
  gap: 0.6rem;
}

.tweet-link {
  border-radius: 15px;
}

.tweet-link img {
  border-radius: 15px 15px 0 0;
  width: 100%;
}

.tweet-link-text {
  border: 1px solid var(--grey-transparent);
  padding: 0.5rem;
  border-radius: 15px;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 0.4rem;
}

.reply,
.retweet,
.heart {
  border-radius: 50%;
  padding: 0.5rem;
  color: var(--grey);
  fill:  var(--grey);
}

.reply:hover {
  fill: var(--twitter-blue);
  color: var(--twitter-blue);
  background-color: var(--twitter-blue-transparent);
}

.retweet:hover {
  fill: var(--twitter-retweet);
  color: var(--twitter-retweet);
  background-color: var(--twitter-retweet-transparent);
}

.heart:hover {
  fill: var(--twitter-heart);
  color: var(--twitter-heart);
  background-color: var(--twitter-heart-transparent);
}

.hearted {
  border-radius: 50%;
  padding: 0.5rem;
  fill: var(--twitter-heart);
  color: var(--twitter-heart);
}
.hearted:hover {
  fill: var(--twitter-heart);
  color: var(--twitter-heart);
  background-color: var(--twitter-heart-transparent);
} 
/* Right side Sidebar */

.sidebar {
  position: sticky;
  top: 0;
  height: 100vh;
  min-width: clamp(290px, 30%, 350px);
  padding: 0.5rem 1rem;
}

.searchbar {
  display: flex;
  align-items: center;
  background-color: var(--grey-transparent);
  border-radius: 30px;
  padding: 0.7rem 1.4rem;
  gap: 1rem;
  opacity: 0.9;
}

@media (max-width: 1200px) {

  /* Left side Navbar  */

  .navlinks {
    align-items: center;
    min-width: 68px;
  }

  .navlink {
    display: flex;
    justify-content: center;
  }

  .navlink-text {
    display: none;
  }

  .navlink:hover .navlink-content {
    border-radius: 50%;
  }

  .tweet-button {
    width: auto;
    display: flex;
    justify-content: center;
  }

  .tweet-button-text {
    display: none;
  }

  .tweet-button-icon {
    display: inline-block;
  }

  .profile-text {
    display: none;
  }

  .profile svg {
    display: none;
  }

  /* Right side Sidebar */

  .sidebar {
    display: none;
  }
}

@media (max-width: 400px) {
  .new-tweet-toolbar {
    flex-direction: column;
    margin-bottom: 0.3rem;
  }
}